//Imported styles
@import "./animations.scss";
@import "./mixins.scss";
@import "./globals.scss";

//Header styles desktop
$height: 40px;

.sidebar {
	@include flex-column;
	width: 100%;
	padding-right: 30px;

	.logo {
		margin: 10px 0 0;
		font-size: $font-size-l;
		font-weight: $font-weight-boldwide;
		color: var(--font-color-primary);
		text-transform: uppercase;
		width: 100%;
	}

	.seperator {
		height: 0;
		margin: 20px 0;
		width: 100%;
		border-bottom: 3px solid var(--highlight-color);
	}

	.title {
		margin-top: 25px;
		margin-bottom: 10px;
		font-size: $font-size-es;
		font-weight: $font-weight-medium;
		color: var(--font-color-secondary);
		text-transform: uppercase;
		width: 100%;
	}

	.linkcontainer {
		@include flex-row;
		width: 100%;
		margin-bottom: 15px;
		position: relative;

		.icon {
			position: absolute;
			top: calc(50% - calc($font-size-em / 2));
			left: 0;
			font-size: $font-size-em;
			color: var(--font-color-primary);
		}

		.button {
			width: 100%;
			justify-content: flex-start;
			align-items: center;
			font-size: $font-size-r;
			font-weight: $font-weight-regular;
			color: var(--font-color-primary);
			padding-left: 35px;
			padding-right: 15px;
			text-transform: unset;
		}
	}

	.addressbox {
		display: none;
		width: 100%;
		height: $height;

		.address {
			@include flex-row;

			align-items: center;
			padding: 11px 15px;
			font-size: $font-size-m;
			font-weight: $font-weight-medium;
			color: var(--primary-color-dark);
			margin-right: 8px;
			background-color: var(--contrast-color);
			height: $height;
			width: 100%;
			border-radius: calc($height / 2);

			.text {
				@include overflow-ellipsis;
				width: 100%;
			}
		}

		.iconbutton {
			color: var(--primary-color-dark);
			background-color: var(--contrast-color);
			height: $height;
			width: $height;
			border-radius: calc($height / 2);
			transition: $transition-m;

			.icon {
				font-size: $font-size-l;
			}
		}

		.iconbutton:hover {
			box-shadow: 0 0 15px var(--primary-color-transparent);
		}
	}
}

@media screen and (max-width: 1050px) {
}
