//Imported styles
@import "./animations.scss";
@import "./mixins.scss";
@import "./globals.scss";

//Header styles desktop
$height: 40px;

.sidebar {
	@include flex-column;
	width: 100%;
	padding-right: 40px;

	.logo {
		font-size: $font-size-xl;
		font-weight: $font-weight-boldwide;
		color: var(--font-color-primary);
		text-transform: uppercase;
		width: 100%;
	}

	.seperator {
		height: 0;
		margin: 25px 0 0;
		width: 100%;
		border-bottom: 3.5px solid var(--highlight-color);
	}

	.title {
		margin-top: 25px;
		margin-bottom: 20px;
		font-size: $font-size-vs;
		font-weight: $font-weight-medium;
		color: var(--font-color-secondary);
		text-transform: uppercase;
		width: 100%;
	}

	.linkcontainer.nobottom {
		margin-bottom: 0;
	}

	.linkcontainer {
		@include flex-row;
		align-items: center;

		cursor: pointer;
		transition: $transition-f;
		width: calc(100% - 5px);
		margin-left: 5px;
		margin-bottom: 20px;
		position: relative;
		color: var(--font-color-primary);

		.new {
			width: 5px;
			height: 5px;
			border-radius: 100%;
			background-color: var(--primary-color);
			margin-left: auto;
		}

		.icon {
			font-size: $font-size-l;
			margin-right: 12px;
		}

		.link {
			width: 100%;
			font-size: $font-size-r;
			font-weight: $font-weight-light;
		}
	}

	.linkcontainer:hover,
	.linkcontainer.active {
		color: var(--primary-color-dark);
	}

	.socialcontainer {
		@include flex-row;
		align-items: center;
		justify-content: space-between;
		margin-top: 25px;
		max-width: 160px;

		.iconbutton {
			width: 30px;
			height: 30px;
			border-radius: 100%;

			.icon {
				font-size: $font-size-xxl;
				color: var(--primary-color);
				transition: $transition-f;
			}

			.icon:hover {
				color: var(--primary-color-dark);
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		height: calc(100vh - 110px);
		overflow-y: auto;
		padding-right: 10px;

		.seperator {
			display: none;
		}
	}
}
