//Imported styles
@import "./animations.scss";
@import "./mixins.scss";
@import "./globals.scss";

//Header styles desktop
$height: 40px;

.container {
	@include flex-column;
	padding: 30px;
	border-radius: 15px;
	background-color: var(--card-color);
	width: 100%;
	min-height: calc(100vh - 310px);
}

@media screen and (max-width: 1050px) {
}
